Repository MauroDataMapper/docs, pull requests merged in 2021-08, with the labels that each got.

#25 Feature/update docker configuration
  docs/installing/administration.md
  docs/installing/docker.md
Labels: administration, developers

#10 MC-9575 Add plugin page for OpenID Connect
  docs/plugins/openid-connect.md
  docs/rest-api/authentication.md
  mkdocs.yml
Labels: technical, security

#17 Feature/gh 16 Describe versioning and branching to the glossary
  docs/glossary/branch/branch.md
  docs/glossary/branch/merge-graph.png
  docs/glossary/finalise/draft-state.png
  docs/glossary/finalise/finalise.md
  docs/glossary/finalise/finalised-state.png
  docs/glossary/fork/fork.md
  docs/glossary/fork/merge-graph.png
  docs/glossary/glossary.md
  docs/glossary/merging/merging.md
  docs/glossary/version/version.md
Labels: glossary

#24 MC-9569 REST API page for Versioned Folders
  docs/rest-api/resources/versioned-folder.md
  mkdocs.yml
Labels: technical

#23 MC-9569 Update Data Model REST API
  docs/rest-api/resources/data-model.md
Labels: technical

#20 MC-9571 Update feature switch list to include DOI feature
  docs/user-guides/feature-switches/feature-switches.md
Labels: update required, user guide

#21 Feature/mc 9571 Add plugin page for DOI
  docs/glossary/glossary.md
  docs/glossary/multi-facet-aware/multi-facet-aware.md
  docs/glossary/profile/profile.md
  docs/glossary/profile/profile.png
  docs/plugins/doi.md
  mkdocs.yml
Labels: technical

#18 MC-9569 Update glossary with container definitions
  docs/glossary/classification/classification.md
  docs/glossary/classification/classifications.png
  docs/glossary/folder/folder-tree.png
  docs/glossary/folder/folder.md
  docs/glossary/glossary.md
  docs/glossary/versioned-folder/folder-tree.png
  docs/glossary/versioned-folder/versioned-folder.md
Labels: glossary
